.calendar-container {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
}

.calendar-header {
  background-color: #007acc;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  place-items: center;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.calendar-header button {
  background-color: transparent;
  border: 1px solid white;
  padding: 5px;
  color: white;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.calendar-header button:hover {
  border: 2px solid white;
}

.calendar-header button:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.calendar-header button:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.calendar-month {
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

.calendar-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.calendar-table thead {
  height: 50px;
}

.calendar-table thead th {
  color: rgb(55, 55, 132);
  font-weight: 700;
}

.calendar-table td {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(206, 203, 203);
  width: 14.28%;
  position: relative;
}

.calendar-table td:hover {
  background-color: rgb(239, 236, 236);
}

.calendar-day-highlight {
  background-color: #007acc6d;
  border: px solid red;
  color: #fff;
}

.calendar-day-highlight .day-container {
  border: 2px solid white;
}

.calendar-day-highlight .commit-dot {
  background-color: white;
}

.calendar-day-highlight:hover {
  color: black;
  background-color: red;
}

.commit-dot {
  position: absolute;
  top: 25px;
  left: 48.3%;
  width: 8px;
  height: 8px;
  background-color: #007acc;
  border-radius: 50%;
  transition: transform 1s ease-in-out;
}

.calendar-table td:hover .commit-dot {
  animation: pulse 0.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.commit-data-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.commit-data {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  max-width: 80%;
  overflow-y: auto;
  max-height: 80%;
}

.close-button {
  position: absolute;
  background-color: #007acc;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #00588e;
}

.commit-data li {
  list-style: none;
  padding: 10px;

  border-bottom: 1px solid #e0e0e0;
}

.commit-data h5 {
  font-size: 16px;
  color: #007acc;
  margin-bottom: 5px;
}

.commit-data p {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.commit-data a {
  text-decoration: none;
  font-size: small;
}

.day-num {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5%;
  top: 5%;
  width: 20px;
  height: 20px;
  padding: 1px;
}

.day-num span {
  font-weight: 700;
}

.commit-message {
  position: absolute;
  display: flex;
  bottom: 20px;
  text-align: center;
  padding: 5px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: hidden;
  font-size: 12px;
  max-width: 200px;
  color: #333;
  border: 2px solid #007acc;
  border-radius: 2px;
  background-color: #007acc28;
  height: 45px;
}

.day-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
